@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: blue;
	color: white;
	display: flex;
	font-family: 'Dongle', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.625;
	min-height: 100vh;
}

h1 {
	margin: 2% 2% 3% 2%;
	text-align: center;
    font-size: 5rem;
}

input[type=checkbox] {
	margin-right: 0;
}

.container {
	background-color: navy;
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	padding: 1%;
	width: 70%;
	max-width: 100%;
	border-radius: 1.5rem;
    text-align: center;
    margin: 2%;
}

.result-container {
	background-color: whitesmoke ;
	display: flex;
	justify-content: flex-start;
	align-items: center;
    margin: 0 0 2% 0;
	position: relative;
	font-size: 2.3rem;
	letter-spacing: 0.063;
	padding: 0.75rem 0.625rem;
	height: 4.125rem;
	width: 100%;
    margin-bottom: 2%;
	border-radius: 0.625rem;
}

label {
	font-size: 2.2rem
}

.result-container #result {
	word-wrap: break-word;
	max-width: calc(100% - 40px);
	color: black;
}

.result-container .btn {
	font-size: 2.25rem;
	position: absolute;
	top: 0.313rem;
	right: 0.313rem;
	height: 3.5rem;
	width: auto;
}

.btn {
	border: none;
	color: white;
	cursor: pointer;
	font-size: 1rem;
    font-family: 'Dongle', sans-serif;
	padding: 0.5rem 0.75rem;
    height: auto;
    width: auto;
	background-color: rgb(104, 106, 223);
	border-radius: 0.313rem;
}

.btn-large {
	display: block;
	width: 100%;
	font-size: 3rem;
    border-radius: 5rem;
    font-weight: 500;
    margin: 1%;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
   	font-size: 2.2rem;
	margin: 1rem 0;
}

@media screen and (max-width: 1028px) {
	.result-container {
		font-size: 2rem;
	}
	
	h2 {
		font-size: 3rem;
	}
	
	.btn-large {
    		font-size: 2.2rem;
	}
	
	

input[type="number"] {
	width: 1.1rem;
	border-radius: 0.313;
	border: none;
	text-align: center;
	height: 0.9rem;
	font-size: 0.75rem;
}
	
	.container {
		width: 100%;
    	text-align: center;
    	margin-top: 2%;
}
}

@media screen and (min-width: 2000px) {
	.result-container {
		font-size: 2rem;
	}
}

input[type="checkbox"] {
	width: 2.5rem;
	height: 1.25rem;
	-webkit-appearance: none;
	background-color: crimson;
	outline: none;
	border-radius: 1.5rem;
	box-shadow: inset 0 0 3.5px #BEBCBE;
	transition: 0.3s;
}

input:checked[type="checkbox"]{
	background-color: #00C853;
}

input[type="checkbox"]::before{
	content: '';
	position: absolute;
	width: 1.25rem;
	height: 1.25rem;
	background: whitesmoke;
	border-radius: 1.25rem;
	box-shadow: 0 0 2px #BEBCBE;
	transition: 0.3s;
}

input:checked[type="checkbox"]::before{
	margin-left: 1.25rem;
}

input[type="number"] {
	width: 3.125rem;
	border-radius: 0.313;
	border: none;
	text-align: center;
	height: 1.25rem;
	font-size: 1rem;
	font-weight: bolder;	
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#message {
    background-color: yellow;
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    color: black;
	border-radius: 1rem;
}

#remove {
    background-color: yellow;
    border: 1px solid yellow;
    font-family: 'Dongle', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: gray;
	cursor: pointer;
}

.link {
  color: black;
}

@media screen and (max-width: 1028px) {
	#message {
		font-size: 0.5rem;
	}

	#remove {
		font-size: 1rem;
	}
}
